## Flow Control

1. Conditional Statements
  1. if
  2. if-else
  3. if-elif-else
  4. nested if-else

2. Iterative Statements
  1. for
  2. while

3. Transfer Statements
  1. break
  2. continue
  3. pass

### If condition

In [ ]:
# Example 1:
grade = 35
name = 'maths'
if (grade >= 65 or name == 'maths'):
    print("Passing grade")

Passing grade

In [ ]:
num = 3
if (num > 0):
    print(num, "is a positive number.") # 1
print("This is always printed.") # 2

num = -1
if num > 0:
    print(num, "is a negative number.") # 3
print("This is also always printed.") #4

3 is a positive number.
This is always printed.
This is also always printed.

In [ ]:
num1, num2 = 6, 6
if(num1 < num2):
    print("num1 is less than num2")

###  if else

In [ ]:
grade = 60
if grade >= 65:
    print("Passing grade")
else:
    print("Failing grade")

Failing grade

In [ ]:
# Password checker

def password_check(password):
    if password == "Python@99>":
        print("Correct password")
    else:
        print("Incorrect Password")

password_check("Python@99>")
password_check("Python99")

Correct password
Incorrect Password

### if-elif-else

In [ ]:
# else if -> elif
num = 0

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Zero

In [ ]:
# grading
grade = 95

if grade >= 90:
    print("A grade")
elif grade >=80:
    print("B grade")
elif grade >=70:
    print("C grade")
elif grade >= 65:
    print("D grade")
else:
    print("Failing grade")

A grade

In [ ]:
a = 0
if a > 0 and a % 2 == 0:
    print('A is an even and positive integer')
elif a > 0 and a % 2 !=  0:
    print('A is a positive integer')
elif a == 0:
    print('A is zero')
else:
    print('A is negative')

A is zero

### nested if

In [ ]:
num1 = 100
if (num1 != 0):  # For zero condition is FALSE
    if(num1 > 0):
        print("num1 is a positive number")
    else:
        print("num1 is a negative number")
else:  # For zero condition is TRUE
    print("num1 is neither positive nor negative")

num1 is a positive number

### FOR loop

In [ ]:
words = ['one', 'two', 'three', 'four', 'five']

for i in words:
    print(i)

one
two
three
four
five

In [ ]:
# Avg of numbers

numbers = [10, 20, 30, 40, 50, 100]

# definite iteration
# run loop 5 times because list contains 5 items
sum = 0
for i in numbers[::-1]:
    print(i)
    sum = sum + i
list_size = len(numbers)
average = sum / list_size
print(average)

100
50
40
30
20
10
41.666666666666664

In [ ]:
for character in "dsa in python"[::-1]:
  print(character, end=", ")

n, o, h, t, y, p,  , n, i,  , a, s, d,

In [ ]:
# usuall range

# empty range
print(list(range(0)))

# using range(stop)
print(list(range(10)))

# using range(start, stop)
print(list(range(1, 10)))

[]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
student_name = 'Alan'

marks = {'Alan': 99, 'Bill': 55, 'Cory': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

99

### break

In [ ]:
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)
    if number == 3:
        break

0
1
2
3

### continue

In [ ]:
color = ['Green', 'Pink', 'Blue']
for i in color:
    if(i == 'Pink'):
        continue
    print (i)

Green
Blue

In [ ]:
first = [3, 6, 9]
second = [3, 6, 9]
for i in first:
    for j in second:
        if i == j:
            continue
        print(i, '*', j, '= ', i * j)

3 * 6 =  18
3 * 9 =  27
6 * 3 =  18
6 * 9 =  54
9 * 3 =  27
9 * 6 =  54

### while

In [ ]:
count = 1
# run loop till count is less than 5
while count < 5:
    print(count)
    count = count + 1
    print('after count increased', count)
else:
  print('hi')

1
after count increased 2
2
after count increased 3
3
after count increased 4
4
after count increased 5
hi

In [ ]:
num = 1000000
sum = 0
i = 1
while i <= num:
    sum = sum + i
    i = i + 1
print("Sum of first 10 number is:", sum)

Sum of first 10 number is: 500000500000

## Function

In [ ]:
def greet():
  print("Welcome to DSA with Python")

greet()

Welcome to DSA with Python

In [ ]:
def add_two_numbers ():
    num_one = 3
    num_two = 6
    total = num_one + num_two
    print(total)
add_two_numbers()

9

In [ ]:
def add_two_numbers (num_one, num_two):
    total = num_one + num_two
    print(total)
add_two_numbers(3, 2)
add_two_numbers(10, -9)

5
1

In [ ]:
def generate_full_name ():
    first_name = 'Milaan'
    last_name = 'Parmar'
    space = ' '
    full_name = first_name + space + last_name
    print(full_name)
generate_full_name ()

Milaan Parmar

In [ ]:
# With param

def greet(name):
    """
    This function greets to the person passed in as a parameter
    """
    print("Hello, " + name + ". Good morning!")

greet("Aron Swartz")

Hello, Aron Swartz. Good morning!

In [ ]:
def sum_of_numbers(n):
    total = 0
    for i in range(n+1):
        total+=i
    print(total)
    return "Total Value is " + str(total)
print(sum_of_numbers(10))  # 55
print(sum_of_numbers(100)) # 5050

55
Total Value is 55
5050
Total Value is 5050

In [ ]:
# kwargs, args

In [ ]:
def greet(*names):
    print(type(names))
    for name in names:
        print("Hello", name)

greet("Gary", "Hank", "Ivan", "John")

<class 'tuple'>
Hello Gary
Hello Hank
Hello Ivan
Hello John

In [ ]:
# recursion
def factorial(n):
    if n == 1:
        return 1
    else:
        return (n * factorial(n-1))

num = 100
print("The factorial of", num, "is", factorial(num))

The factorial of 100 is 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

## Cyclometric complexity

In [ ]:
def get_speed(extinct, flightless, name):
    if extinct:
      return -1
    else:
      if flightless:
        if name == 'Ostrich':
          return 15
        elif name == 'Chicken':
          return 7
        elif name == 'Flamingo':
          return 8
        else:
          return -1
      else:
        if name == 'Gold Finch':
          return 12
        elif name == 'Bluejay':
          return 10
        elif name == 'Robin':
          return 14
        elif name == 'Hummingbird':
          return 16
        else:
          return -1

In [ ]:
get_speed(extinct=False, flightless=True, name='Ostrich1')

-1

In [ ]:
d = (1, 2, 3, 4, 5)
a, *b, c = d

In [ ]:
a

1

In [ ]:
c

5

In [ ]:
b

[2, 3, 4]

In [ ]:
d

(1, 2, 3, 4, 5)