In [1]:
print("Hello World!, From Python Course")

Hello World!, From Python Course

## Keywords and Identifiers

In [2]:
brk = 1

## Python Statement, Indentation and Comments

*   List item
*   List item



- mistake -> mix space and tab

In [4]:
# single line


"""sdfsdfsdfsdf"""
a = 1
b = 2

if a > 4:
  print(4)
  if b > 4:
    print(4)

In [5]:
def double(num):
    """Function to double the value"""
    return 2*num

## Python Variables, Constants and Literals

In [ ]:
a = 10

In [ ]:
type(a)

int

In [ ]:
id(a)

93830007024416

In [ ]:
id(10)

93830007024416

In [ ]:
b = 10

In [ ]:
id(b)

93830007024416

In [ ]:
b = 3

In [ ]:
id(b)

93830007024192

In [ ]:
lis = [1,3,4]

In [ ]:
type(lis)

list

In [ ]:
id(lis)

139651716881776

In [ ]:
lis.append(4)

In [ ]:
id(lis)

139651716881776

In [ ]:
number = 10
numberf = 1.1
website = "apple.com"

In [ ]:
type(website)

str

In [ ]:
id(website)

139651717088752

In [ ]:
website = "google.com"

In [ ]:
id(website)

139651717045616

In [ ]:
a, b, c = 5, 3.2, "Hello"

In [ ]:
x = y = z = "same"

In [ ]:
print(id(x))
print(id(y))

139651955280368
139651955280368

In [ ]:
y = 3

In [ ]:
PI = 43

In [ ]:
id(PI)

In [ ]:
# String

a = 'sdfd'
b = "asdas"
c = """ asdasdasdasd
ssdfsdf
sdfsdfsdf
sdfsdf
sdfdsf"""

In [ ]:
b = False
c = True

In [ ]:
a = None
# nan (not a number)

In [ ]:
1 + 1

In [ ]:
"Asda " + "Asda"

In [ ]:
a = 5
print(a, "is of type", type(a))

a = 2.0
print(a, "is of type", type(a))

a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))

- list []
- tuple ()
- dict {'key': value}
- set {}

## Python Datatypes

### list

In [ ]:
# array (set of elements of same data type)
# list (set of elements of any datatype)

a = [1,2,3]
b = [1, 1, "hi", 10.4, [3,4,5]]

In [ ]:
type(b)

In [ ]:
id(a)

In [ ]:
a.append(2)

In [ ]:
id(a)

In [ ]:
b.count(1)

In [ ]:
c = a + b

In [ ]:
a.extend(b)

In [ ]:
a

In [ ]:
a = [1,2,3]
a.sort(reverse=True)

In [ ]:
a

#### access

In [ ]:
a

In [ ]:
a[0]

In [ ]:
a[1:4]

In [ ]:
a[-2]

In [ ]:
a[4:]

In [ ]:
a[-5:]

#### modify

In [ ]:
a[0] = 5

In [ ]:
a

In [ ]:
a[1:4] = [3,4,4]

In [ ]:
a

### tuple

In [ ]:
tup = (5, 'pro', 4.5, True, True, [1,2,3])

In [ ]:
tup.count(5)

In [ ]:
tup.index(True)

In [ ]:
tup[0]

In [ ]:
tup[-1]

In [ ]:
# u cannot modify
tup[0] = 1

In [ ]:
tup[-1].append(4)

In [ ]:
tup

In [ ]:
id(tup[-1])

### string

In [ ]:
s = "This is a string"
print(s)

In [ ]:
list(s)

In [ ]:
s[-1]

In [ ]:
s.split(' ')

In [ ]:
s.upper()

In [ ]:
s.index('string')

In [ ]:
s[0:6]

### set

In [ ]:
a = [1,2,3,4,1,3,4]

In [ ]:
b = set(a)

In [ ]:
b

In [ ]:
b.add(4)

In [ ]:
b

In [ ]:
list(b)[0]

In [ ]:
seeet = {1,2,3}

In [ ]:
type(seeet)

### Dictionary

In [ ]:
disk = {"name": "Nivu", "age": 26}

In [ ]:
disk.keys()

In [ ]:
disk.values()

In [ ]:
disk['name']

In [ ]:
disk['name'] = "Raja"

In [ ]:
disk

In [ ]:
type(disk)

In [ ]:
disk['lang'] = ['Eng', 'Tam']

In [ ]:
del disk['age']

In [ ]:
disk

In [ ]:
for k in disk.keys():
  print(k, disk[k])

## Type conversion

- explicit, implicit

In [ ]:
True + 1

In [ ]:
1 + 1.0

In [ ]:
"Ste" + str(1) # exp conv

In [ ]:
print(int(1.3))
print(float(1))
print(str(1))

In [ ]:
int('4')

## Python Input, Output and Import

In [ ]:
print(1, 2, 3, 4)
print(1, 2, 3, 4, sep='*')
print(1, 2, 3, 4, sep='#', end='&')

In [ ]:
x = 5; y = 10
print('The value of x is {} and y is {}'.format(x,y))

In [ ]:
a = input("What is the value?")

In [ ]:
a

In [ ]:
import new

In [ ]:
from new import GRAVITY

In [ ]:
import sys

In [ ]:
sys.path

In [ ]:
import os

In [ ]:
import time, datatime

## Python Operators

In [ ]:
print(9 + 2)
print(9 - 2)
print(9 / 2)
print(9 // 2)
print(9 % 2)
print(9 * 2)
print(9**5)

In [ ]:
x = 10
y = 12

# Output: x > y is False
print('x > y is',x>y)

# Output: x < y is True
print('x < y is',x<y)

# Output: x == y is False
print('x == y is',x==y)

# Output: x != y is True
print('x != y is',x!=y)

# Output: x >= y is False
print('x >= y is',x>=y)

# Output: x <= y is True
print('x <= y is',x<=y)

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

In [ ]:
a = 10
b = 4

In [ ]:
a & b

In [ ]:
a | b

In [ ]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

# Output: False
print(x3 is y3)

In [ ]:
id(x1)

In [ ]:
id(y1)

In [ ]:
# == the values are compared

In [ ]:
a = [1,3,4]

In [ ]:
if 3 in a:
  print(a.index(3))

## Python Flow Control

### if

In [ ]:
a = 13
if a > 5 and a < 12:
  print("True block")
elif a > 12:
  print("elif")
else:
  print("else")

In [ ]:
if 3:
  print("True")
if 0:
  print("False")

### Nested statements

In [ ]:
if a > 10:
  if a < 15:
    print("10 to 15")
    if True:
      print("True")
  else:
    print("more")

In [ ]:
if range(2,10, -1):
  print("yes")
else:
  print("empty")

empty

In [ ]:
# False/True
# 0/1
# -inf/+inf
# []/[1]
# None/val

### for

In [ ]:
for val in "name":
  print(val)

In [ ]:
sum = 0
for val in [1,2,3,6,7,8]:
  print(val)
  sum+=val
print(sum)

In [ ]:
for val in range(3, 8, 2): # start, stop, step
  print(val)

In [ ]:
lis = list(range(3, 8, 2))

In [ ]:
for i in range(len(lis)):
  print(i)
else:
  print("End of loop")

In [ ]:
lis = list(range(5))
print(lis)
lis2 = [6,7,8,9,10]

[0, 1, 2, 3, 4]

In [ ]:
for a,b,c in zip(lis, lis2, 'names'):
  print(a,b, c)

0 6 n
1 7 a
2 8 m
3 9 e
4 10 s

In [ ]:
for i, val in enumerate(lis2):
  print(i, val)

0 6
1 7
2 8
3 9
4 10

### While

In [ ]:
n = 10
i = 0
sum = 0

while i <= n:
  sum +=i
  print(i)
  i+=1
else:
  print("end of while loop", sum)

0
1
2
3
4
5
6
7
8
9
10
end of while loop 55

In [ ]:
lis = [2,4,6,8,9, 10]
for val in lis:
  if val % 2 != 0:
    break # breaks the entire look
  print(val)

2
4
6
8

In [ ]:
lis = [2,4,6,8,9, 10]
for val in lis:
  if val % 2 != 0:
    continue # skips the current loop execution
  print(val)

2
4
6
8
10

In [ ]:
def foo():
  pass

In [ ]:
foo()

## Python functions

In [ ]:
def func_name():
  """Dummy function"""
  print("print")

In [ ]:
func_name()

print

In [ ]:
def func_name(name):
  """Dummy function"""
  print("hi ", name)

In [ ]:
func_name("Raja")

hi  Raja

In [ ]:
def sq(num):
  """Dummy function"""
  return num**2

In [ ]:
sq(2)

4

In [ ]:
def sq(num1, num2):
  """Dummy function"""
  return num1+num2, num1-num2

In [ ]:
ad, mi = sq(1,2)

In [ ]:
print(ad, mi)

3 -1

In [ ]:
def welcome(name, greeting="Hello"):
  print("hi", name, greeting)

In [ ]:
welcome("Syed", "hello")

hi janani hello

In [ ]:
welcome("Jafer")

hi raja Hello

In [ ]:
welcome(greeting="hello", name="Kumar")

hi raja hello

In [ ]:
list(range(10,0,1))

[]

In [ ]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
def greet(*names):
    """This function greets all
    the person in the names tuple."""

    # names is a tuple with arguments
    for name in names:
        print("Hello", name)


greet("Monica", "Luke", "Steve", "John")

Hello Monica
Hello Luke
Hello Steve
Hello John

In [ ]:
### lambda functions

sq = lambda x: x ** 2
add = lambda x,y: x + y

In [ ]:
sq(4)

16

In [ ]:
add(1,2)

3

In [ ]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

temp = []

for val in my_list:
  if val % 2 == 0:
    temp.append(val)

print(temp)

[4, 6, 8, 12]

In [ ]:
list(filter(lambda x: (x%2 == 0), my_list))

[4, 6, 8, 12]

In [ ]:
list(map(lambda x: x**2, my_list))

[1, 25, 16, 36, 64, 121, 9, 144]

In [ ]:
def sq(a):
  return a**2

In [ ]:
list(map(sq, my_list))

[1, 25, 16, 36, 64, 121, 9, 144]

## Scope

In [ ]:
x = "global"

def foo():
    print("x inside:", x)


foo()
print("x outside:", x)

x inside: global
x outside: global

In [ ]:
x = "global"

def foo():
    x = x * 2
    print(x)

foo()

UnboundLocalError: ignored

In [ ]:
x = "global"

def foo():
    global x
    x = x * 2
    print(x)

foo()

globalglobal

In [ ]:
def foo():
  x = 10
  print(x)

In [ ]:
foo()

10

In [ ]:
def outer():
  x = "local"

  def inner():
    nonlocal x
    x = "nonlocal"
    print("inner", x)

  print("outer", x)
  inner()
  print("outer", x)

In [ ]:
outer()

outer local
inner nonlocal
outer nonlocal